<template>
    <address v-html="linesHtml"></address>
</template>

<script>
	export default {
		name: 'Address',
		props: ['addressLines'],
		computed: {
			linesHtml: function () {
				return this.addressLines.map(item => item.text).join('<br>');
			},
		}
	}
</script>
