<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="keywords" content="{{ keywords }}">
    <meta name="description" content="{{ description }}">
</head>
<body>
<!--vue-ssr-outlet-->
</body>
</html>
