<template>
    <div id="app">
        <!-- page header -->
        <div ref="fratomicRoute" v-html="yield"></div><!-- emulated vue router -->
        <!-- page footer -->
    </div>
</template>

<script>
	export default {
		components: {},
		name: 'App',
		props: ['yield'],
        mounted: function() {
			// this is required for live preview to work properly
            for (let script of this.$refs.fratomicRoute.getElementsByTagName('script')) {
                eval(script.innerText);
            }
            // if you have mounted logic, add it below
        }
	}
</script>

<!-- uncomment to build global styles
<style lang="scss">
    @import "../src/scss/global.scss";
</style>
-->
