<template>
    <div id="app">
        <router-view></router-view>
        <component v-if="pageComponent" v-bind:is="pageComponent" v-bind="pageProps"
                   v-on:click.native="catchLinkToRoute"></component>
    </div>
</template>

<script>
	import PageHandler from "./handler/PageHandler";

	export default {
		name: 'app',
		components: {},
		data: function () {
			return {
				navigatedFromLink: false,
			};
		},
		computed: {
			pageComponent() {
				return this.$store.getters.currentPageComponent;
			},
			pageProps() {
				return this.$store.getters.currentPageProps;
			},
		},
		methods: {
			catchLinkToRoute: function (event) {
				PageHandler.catchLinkToRoute(event, this);
			},
		},
		watch: {
			$route: function (toRoute) {
				if (toRoute.name === 'PageEmpty') {
					this.$store.dispatch('fetchPage', {
						url: toRoute.fullPath,
						redirectOnFail: this.navigatedFromLink
					}).then(response => PageHandler.updatePageHead(response, this));
				} else {
					PageHandler.updatePageHeadByRoute(toRoute, this);
					this.$store.dispatch('resetPage');
				}
			}
		},
		mounted() {
			if (this.$router.currentRoute.name === 'PageEmpty' && !this.pageComponent) {
				this.$store.dispatch('fetchPage', {url: this.$router.currentRoute.fullPath})
					.then(response => PageHandler.updatePageHead(response, this));
			}
		},
		serverPrefetch() {
			const route = this.$router.currentRoute;
			if (route.name === 'PageEmpty') {
				return this.$store.dispatch('fetchPage', {url: route.fullPath})
					.then(response => PageHandler.updatePageHead(response, this));
			} else {
				PageHandler.updatePageHeadByRoute(route, this);
			}
		},
	}
</script>

<!-- uncomment to include fratomic styles
<style lang="scss">
    @import "./fratomic/scss/global.scss";
</style>
-->
